#container {
  text-align: center;
  min-width: 600px;
}
#container:after {
  content: "";
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}
