ul {
  text-align: center;
}
.CartIcon {
  position: absolute;
  background-image: url("https://png.pngtree.com/svg/20170728/cart_white_1020224.png");

  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  color: white;
  background-size: cover;
  margin-right: 10px;
}
#CartCount {
  color: white;
  background-color: orange;
  border-radius: 20px;
  bottom: 0px;
  right: 0px;
  min-width: 20px;
  text-align: center;
  position: absolute;
}
.TopNav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  height: 50px;
}
.ItemDisplay {
  height: 100%;
  margin-left: 160px;
  text-align:center;
  margin-top:60px;
}
.nav2 {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  margin-top: 50px;
}
#search-box {
  width: 140px;
  margin: 10px;
}
.nav2 > select {
  margin: 10px;
}
#main {
}
