<main class="container">
  <form class="form" action="" method="get">
    <div class="form__image"></div>
    <div class="input">
      <input #emailInput type="email" class="input__element" placeholder="Email" (input)="emailInput.value"/>
      <label class="input__label" for="email">Email</label>
    </div>
    <div class="input">
      <input #passwordInput type="password" class="input__element" placeholder="Password" 
      (input)="passwordInput.value"/>
      <label class="input__label" for="password">Password</label>
    </div>
    <button type="button" class="button" (click)=goBack()>
      <div class="button__label">Home</div>
      <div class="button__icon"></div>
    </button>
    <button type="button" class="button" (click)="onSubmit(emailInput.value, passwordInput.value)">
      <div class="button__label">Register</div>
      <div class="button__icon"></div>
    </button>
  </form>
</main>

<script>
  window.addEventListener('resize', resize);

function resize() {
  const formImage = document.querySelector('.form__image');
  formImage.style.height = document.body.scrollHeight + 'px';
}

resize();
</script>